body {
    margin: 0;
}

#root {
    display: flex;
    height: 100vh;
    justify-content: space-between;
}

.menu {
    background-color: #F8F6F2;
    position: fixed;
    height: calc(100vh - 130px);
    width: 250px;
    padding: 100px 20px 30px;
    left: 0;
    justify-content: space-between;
}

.menu-link {
    font-size: 24px;
    margin-bottom: 25px;
}

.menu-link p {
    margin: 0 20px 0 0;
}

.menu-link p, .menu-link a {
    color: #50C9D9;
    text-decoration: none;
}

.disconnect {
    width: fit-content;
    margin: auto auto 0;
    padding: 0 15px;
    border: solid #50C9D9 1px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.disconnect:hover {
    transition-duration: 0.2s;
    transform: scale(1.05);
}

h1, h2 {
    color: #50C9D9;
}

form {
    margin-top: 2rem;
}

.column {
    display: flex;
    flex-direction: column;
}

.reverse-column {
    display: flex;
    flex-direction: column-reverse;
}

.inline {
    display: flex;
    flex-direction: row;
}

.align-items {
    align-items: center;
}

.justify-content {
    justify-content: center;
}

.margin-auto {
    margin: 0 auto;
}

.padding-page {
    padding-left: 290px;
}

.height-100 {
    height: 100%;
}

.validate-button {
    font-size: 17px;
    padding: 14px 16px;
    border: 1px solid #50C9D9;
    border-radius: 5px;
    background-color: white;
    margin: 2rem 0 0;
    width: 362px;
    cursor: pointer;
}

hr {
    width: 50%;
    margin: 20px 0 20px;
}

input, textarea, .register-button  {
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    margin: 0.25rem 0;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    background-color: white;
}

.login-field  {
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-button  {
    margin: 0;
    width: 362px;
    cursor: pointer;
}

.register-button {
    color: white;
    border-color: transparent;
    background-color: #50C9D9;
}

input:hover, .register-button:hover, select:hover {
    border-color: #50C9D9;
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px #50C9D9;
}

.welcome {
    width: 400px;
    height: 314px;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 1px -1px #50C9D9, 0 1px 1px 0 #50C9D9, 0 1px 3px 0 #50C9D9;
}

.title {
    margin: 2rem 0 0;
}

.lightgrey {
    color: #4E5166;
}

.form-field {
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px 0 #00000024, 0 1px 3px 0 #0000001f;
}

.align-items-start {
    align-items: flex-start !important;
}

.validate-button:hover, .register-button:hover {
    border-color: #50C9D9;
    box-shadow: 0 0 10px #50C9D9;
}

.input-title {
    margin-bottom: 0;
}

.input-text {
    min-height: 50px;
    height: 80px;
    min-width: 330px;
    max-width: 330px;
    padding: 5px 16px;
}

.input-text:focus, select:focus {
    outline: none !important;
    box-shadow: 0 0 10px #50C9D9;
}

select {
    margin: 0.25rem 0;
    width: 100%;
    height: 50px;
    border: 1px solid #dddfe2;
}

.furniture-box {
    border: solid 1px black;
    border-radius: 10px;
    width: 300px;
    margin: 1rem 0;
    padding: 0 25px;
}

.add-materials button {
    background-color: white;
    margin: 10px;
    color: #000000;
    border: #50C9D9 solid 1px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}